{% extends 'base.html.twig' %}

{% block title %}MyStore - Accueil
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-dismissible alert-success fluid">
			{{ message }}
		</div>
	{% endfor %}

	<div class="container mt-4">
		<h1 class="my-4">MyStore</h1>
		<h5 class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h5>
		<p class="card-text">
			{% if not app.user %}
				<a href="{{path('user_add')}}" class="btn btn-primary my-4">Inscription</a>
			{% endif %}
		</p>
	</div>
	<h1 class="mt-5 container">Boutique</h1>
	<div class="mt-4 row gx-3">
		{% for product in products %}

			<div class="col-md-3 container">
				<div class="card border-primary mb-3" style="max-width: 20rem;">
					<div class="card-header"><img src="{{ asset(product.image) }}" alt="" class="img-fluid"></div>
					<div class="card-body">
						<h4 class="card-title">{{product.title}}</h4>
						<p class="card-text">{{ product.description }}
						</p>
						<p class="card-text">{{ product.price }}
							€</p>
						<a href="{{ path('cart_add', {id: product.id}) }}" class="btn btn-primary">Ajoutez au panier</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
